/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #333;
    color: #555;
    background-image: url('crude.jpg');
    background-size: cover; /* Adjust this based on your preferences */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    font-size: 36px;
    color: #333;
  }
  
  .mainWrapper {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #e31b6d;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #c21852;
  }
  
  .home-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .home-link:hover {
    text-decoration: underline;
    color: #555;
  }
  .home-btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-btn:hover {
    background-color: #0056b3;
  }
  